.home{
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom, rgb(163, 163, 163) 0%,rgb(69,69,79) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  color: #ffffff;
}