
.secmenu{
  &_item{
    width: 50vw;
    height: 100vh;
    background: linear-gradient(to bottom,#eeeeee 0%,#aaaaaa 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
  }
}